{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans from "payments" %}donationThankYouTitle{% endtrans %}</h1>
    <p>{% trans from "payments" %}donationThankYouText{% endtrans %}</p>
{% endblock %}

{% block title %}{% trans from "payments" %}donationThankYouTitle{% endtrans %}{% endblock %}

