{% extends 'base.html.twig' %}

{% block title %}{% trans from "modules" %}projects{% endtrans %}{% endblock %}

{% block content %}
    <section class="projectsSection">
        <article>
            <h1>{% trans from "modules" %}projects{% endtrans %}</h1>
            {% if not isHome %}
                <h2>{{ "page %page%/%pageCount%"|trans({'%page%': page, '%pageCount%': pageCount}, "blog") }}</h2>
            {% else %}
                {% trans from "projects" %}projectsHomeText{% endtrans %}
            {% endif %}

            {% include 'projects/projectList.html.twig' with { "projects": projects } %}

            <div class="pageButtons">
                {% if page - 1 > 0 %}<a href="{{ path("projectsPage", {"page": (page - 1)}) }}">&lt;</a>{% endif %}
                <div class="flexSpacer">{{ "page %page%/%pageCount%"|trans({'%page%': page, '%pageCount%': pageCount}, "blog") }}</div>
                {% if page + 1 < pageCount %}<a href="{{ path("projectsPage", {"page": (page + 1)}) }}">&gt;</a>{% endif %}
            </div>
        </article>
    </section>
    <a class="section hireMeSection" target="_blank" rel="noopener" href="mailto:kevin@kevink.dev">
        <div>
            <span>{% trans from "projects" %}hireMe{% endtrans %}</span>
            <i class="fas fa-fw fa-chevron-right"></i>
        </div>
    </a>
{% endblock %}