{% extends 'base.html.twig' %}

{% block title %}Kevin Kandlbinder{% endblock %}

{% block meta %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Person",
        "birthDate": "20011103T000000+0100",
        "email": "kevin@kevink.dev",
        "familyName": "Kandlbinder",
        "gender": {
            "@type": "GenderType",
            "name": "Male"
        },
        "givenName": "Kevin",
        "name": "Kevin Kandlbinder",
        "jobTitle": "Web Developer",
        "nationality": {
            "@type": "Country",
            "name": "Germany"
        },
        "telephone": "+49 4106 8068004",
        "description": "Web Developer",
        "url": "https://kevink.dev/",
        "image": "https://kevink.dev/assets/images/Kevin-Kandlbinder_p02.jpg",
        "sameAs": [
            "https://twitter.com/unkn0wnkevin",
            "https://www.youtube.com/channel/UCCoZp-6_P3CVFj4clQ6uaeg",
            "https://github.com/Unkn0wnCat",
            "https://instagram.com/unkn0wncat_official",
            "https://www.youtube.com/channel/UCWqCHz-m6VK_LRhEySkfkeQ"
        ]
    }

</script>

    <meta name="description" content="{% trans from "homepage" %}helloDescription{% endtrans %}" />
    <meta name="keywords" content="Kevin Kandlbinder, Kevin, Kandlbinder, Web, Web Developer, Developer, JavaScript, PHP, Java, Photos, Fotos" />


{% endblock %}

{% block content %}

    <section class="heroSection">
        <div class="profile">
            <div style="background-image: url('{{ asset('assets/images/Kevin-Kandlbinder_p02.jpg') }}');" class="profileImage"></div>
            <div class="profileCard">
                <span class="hello">{% trans from "homepage" %}hello{% endtrans %}</span>
                <span class="name">Kevin Kandlbinder</span>
                <span class="description">{% trans from "homepage" %}me{% endtrans %} <span id="descriptionType">{% trans from "homepage" %}webDeveloper{% endtrans %}</span>.</span>

                <div class="contactLinks">
                    <a class="contactLink" href="tel:+4941068068004"><i class="fas fa-fw fa-phone"></i>+49 4106 8068004</a>
                    <a class="contactLink" href="mailto:kevin@kevink.dev?subject=%5Bkevink.dev%5D%20"><i class="far fa-fw fa-envelope"></i>kevin@kevink.dev</a>
                    <a class="contactLink" href="https://goo.gl/maps/KVq9z1PVaVP2" target="_blank"><i class="fas fa-fw fa-map-marker-alt"></i>{% trans from "homepage" %}myLocation{% endtrans %}</a>
                </div>
            </div>
        </div>
    </section>
    {% if app.request.locale == "de" %}
    <a class="section amazonAlexaSection" target="_blank" href="https://skills-store.amazon.de/deeplink/dp/B07QZS7ZTJ?deviceType=app&share&refSuffix=ss_copy">
        <div>
            <img src="{{ asset('assets/images/amazon-alexa/Amazon_Alexa_blue_logo.svg') }}" alt="Alexa">
            <span>{% trans from "homepage" %}findMeOnAlexa{% endtrans %}</span>
            <i class="fas fa-fw fa-chevron-right"></i>
        </div>
    </a>
    {% endif %}
    <section class="aboutSection">
        <article>
            <h1>{% trans from "homepage" %}aboutMe{% endtrans %}</h1>
            <p>{% trans from "homepage" %}aboutMeHello{% endtrans %}<br>{% trans from "homepage" %}aboutText{% endtrans %}</p>
        </article>
    </section>
    <section class="recentsSection">
        <div>
            <h1>Neueste Posts</h1>
            <div class="postList">
                {% for post in posts %}
                    {% include 'postcard.html.twig' with { "postTitle": post.title, "teaserText": post.summary, "link": path("blogView", {"year": post.publishTime|date("Y"), "month": post.publishTime|date("m"), "day": post.publishTime|date("d"), "post_id": post.id, "canonical": post.canonicalName}), "postImage": post.image } %}
                {% endfor %}
            </div>
        </div>
    </section>
    {#<section class="contactSection">
        <div class="contactBackground"></div>
        <div>
            <h1>Kontaktiere mich!</h1>
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email">
                <label for="name">Nachricht</label>
                <textarea name="message"></textarea>

                <button type="submit">Senden</button>
            </form>
        </div>
    </section>#}
{% endblock %}
