{% extends 'base.html.twig' %}

{% block title %}Kevin Kandlbinder{% endblock %}

{% block meta %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Person",
        "birthDate": "20011103T000000+0100",
        "email": "kevin@kevink.dev",
        "familyName": "Kandlbinder",
        "gender": {
            "@type": "GenderType",
            "name": "Male"
        },
        "givenName": "Kevin",
        "name": "Kevin Kandlbinder",
        "jobTitle": "Web Developer",
        "nationality": {
            "@type": "Country",
            "name": "Germany"
        },
        "telephone": "+49 4106 8068004",
        "description": "Web Developer",
        "url": "https://kevink.dev/",
        "image": "https://kevink.dev/assets/images/Kevin-Kandlbinder_p02.jpg",
        "sameAs": [
            "https://twitter.com/unkn0wnkevin",
            "https://www.youtube.com/channel/UCCoZp-6_P3CVFj4clQ6uaeg",
            "https://github.com/Unkn0wnCat",
            "https://instagram.com/unkn0wncat_official",
            "https://www.youtube.com/channel/UCWqCHz-m6VK_LRhEySkfkeQ"
        ]
    }

</script>

    <meta name="description" content="Hallo, ich bin Kevin Kandlbinder, ein Entwickler und Hobby-Fotograf aus Norddeutschland." />
    <meta name="keywords" content="Kevin Kandlbinder, Kevin, Kandlbinder, Web, Web Developer, Developer, JavaScript, PHP, Java, Photos, Fotos" />


{% endblock %}

{% block content %}

    <section class="heroSection">
        <div class="profile">
            <div style="background-image: url('{{ asset('assets/images/Kevin-Kandlbinder_p02.jpg') }}');" class="profileImage"></div>
            <div class="profileCard">
                <span class="hello">Hallo, ich bin</span>
                <span class="name">Kevin Kandlbinder</span>
                <span class="description">Ich bin <span id="descriptionType">Web Developer</span>.</span>

                <div class="contactLinks">
                    <a class="contactLink" href="tel:+4941068068004"><i class="fas fa-fw fa-phone"></i>+49 4106 8068004</a>
                    <a class="contactLink" href="mailto:kevin@kevink.dev?subject=%5Bkevink.dev%5D%20"><i class="far fa-fw fa-envelope"></i>kevin@kevink.dev</a>
                    <a class="contactLink" href="https://goo.gl/maps/KVq9z1PVaVP2" target="_blank"><i class="fas fa-fw fa-map-marker-alt"></i>Quickborn, Schleswig-Holstein, Deutschland</a>
                </div>
            </div>
        </div>
    </section>
    <section class="aboutSection">
        <article>
            <h1>Über mich</h1>
            <p>Hallo!<br>Ich bin Kevin Kandlbinder, ein Entwickler und Hobby-Fotograf aus Norddeutschland. Ich habe schon früh in meinem Leben gelernt mit Computern umzugehen, da mein Vater mir seinen alten Windows 2000-Tower überließ, als er sich einen neuen holte. Kontakt zur Entwicklung von Webseiten hatte ich einige Jahre darauf zum ersten Mal, als ich mir ein Buch zu HTML, CSS und PHP gekauft habe. Seitdem ist Web Development für mich gleichermaßen ein Hobby und ein Job.</p>
        </article>
    </section>
    {#<section class="recentsSection">
        <div>
            <h1>Neueste Posts</h1>
            <div class="postList">
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
            </div>
        </div>
    </section>
    <section class="contactSection">
        <div class="contactBackground"></div>
        <div>
            <h1>Kontaktiere mich!</h1>
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <label for="email">E-Mail</label>
                <input type="email" id="email" name="email">
                <label for="name">Nachricht</label>
                <textarea name="message"></textarea>

                <button type="submit">Senden</button>
            </form>
        </div>
    </section>#}
{% endblock %}
