public/assets/scripts/editormd/* linguist-vendored
public/assets/scripts/nprogress/* linguist-vendored
public/assets/scripts/spfjs/* linguist-vendored

public/assets/styles/editormd/* linguist-vendored
public/assets/styles/fonts/* linguist-vendored
public/assets/styles/nprogress/* linguist-vendored
