{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Hello {{ app.user }}!</h1>
    <div class="galleryList">
        <a href="{{ path('admin_blog_list') }}" class="galleryCard lazy spf-link" data-bg="url(https://source.unsplash.com/npxXWgQ33ZQ/320x240)">
            <div class="galleryCardMeta">
                <span class="galleryCardTitle">Blog Admin</span>
                <span class="galleryCardStats">Post something!</span>
            </div>
        </a>
    </div>
{% endblock %}
