{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <section class="blogSection">
        <article>
            <h1>Blog</h1>
            <div class="postList">
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}
                {% include 'postcard.html.twig' with { "postTitle": "Title", "teaserText": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.", "link": "#" } %}

            </div>
        </article>
    </section>
{% endblock %}
