{% extends 'base.html.twig' %}

{% block title %}{% trans from "modules" %}blog{% endtrans %}{% endblock %}

{% block content %}
    <section class="blogSection">
        <article>
            <h1>{% trans from "modules" %}blog{% endtrans %}</h1>
            {% if not isHome %}
                <h2>{{ "page %page%/%pageCount%"|trans({'%page%': page, '%pageCount%': pageCount}, "blog") }}</h2>
            {% else %}
                {% trans from "blog" %}blogHomeText{% endtrans %}
            {% endif %}

            {% include 'blog/postList.html.twig' with { "posts": posts } %}

            <div class="pageButtons">
                {% if page - 1 > 0 %}<a href="{{ path("blogPage", {"page": (page - 1)}) }}">&lt;</a>{% endif %}
                <div class="flexSpacer">{{ "page %page%/%pageCount%"|trans({'%page%': page, '%pageCount%': pageCount}, "blog") }}</div>
                {% if page + 1 < pageCount %}<a href="{{ path("blogPage", {"page": (page + 1)}) }}">&gt;</a>{% endif %}
            </div>
        </article>
    </section>
{% endblock %}
