<div class="postList">
    {% for post in posts %}
        {% include 'postcard.html.twig' with { "postTitle": post.title, "teaserText": post.summary, "link": path("blogView", {"year": post.publishTime|date("Y"), "month": post.publishTime|date("m"), "day": post.publishTime|date("d"), "post_id": post.id, "canonical": post.canonicalName}), "postImage": post.image } %}
    {% endfor %}

    {% if posts|length == 0 %}
        <h4>{% trans from "blog" %}noPosts{% endtrans %}</h4>
    {% endif %}
</div>

