:root {
    --body-width: 900px;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Anonymous Pro', monospace;
}

body {
    background: white;
    color: black;
    transition: background .25s, color .25s;
    display: flex;
    flex-direction: column;
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: #000710;
    z-index: 999;
}

.topBarInner {
    display: flex;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.topBar a {
    display: block;
    padding: 10px 15px;
    color: white;
    /*text-decoration: underline dotted white;*/
    text-decoration: none;
    border-top: 2px solid transparent;
}

.topBar a:hover {
    border-color: rgba(255, 255, 255, .25);
}

.topBar a.active {
    border-color: white;
}

.flexSpacer {
    flex-grow: 1;
    text-align: center;
}

.heroSection {
    width: 100%;
    background: #000710;
    min-height: 500px;
    padding-top: 100px;
    overflow: hidden;
}

.profile {
    position: relative;
    left: 50%;
    width: calc(90% - 40px);
    max-width: 600px;
    max-height: 400px;
    transform: translate(-50%, 0%);
}

.profileCard {
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    background: white;
    transform: translate(40px, 20px);
    border-radius: 5px;
    -webkit-box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.75);
    padding: 20px 20px 20px 230px;
}

.profileImage, .profileImageDummy {
    display: inline-block;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    background-color: #1c1c1c;
    background-size: cover;
    background-position: center;
    transform: translate(0, 0);
    transition: transform .25s;
}

.profileImage {
    z-index: 20;
    box-shadow: -5px 7px 10px -6px rgba(0,0,0,.75);
}

:hover > .profileImage {
    transform: translate(4px, -4px);
}

.profileImageDummy {
    z-index: 10;
    background: #e5502b;
}

:hover > .profileImageDummy {
    transform: translate(-3px, 3px);
}

.profile .hello {
    font-weight: 100;
    opacity: .75;
    display: block;
    margin-bottom: -5px;
}

.profile .name {
    font-weight: 100;
    font-size: 2em;
    display: block;
}

.profile .description {
    font-weight: 100;
    display: block;
}

.contactLinks {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.contactLink {
    color: black;
    transition: text-decoration .5s;
    text-decoration: underline dotted rgba(0, 0, 0, 0);
    padding: 6px 0 6px 25px;
}

.contactLink:hover, .contactLink:active {
    text-decoration: underline dotted rgba(0, 0, 0, .5);
}

.contactLink > i {
    color: #e5502b;
    margin-left: -25px;
    margin-right: 5px;
}

section > div:not(.profile), section > article, .section > div:not(.profile), .section > article {
    max-width: var(--body-width);
    width: 100%;
    padding: 39px 20px;
    margin: 0 auto;
}

article p {
    text-align: justify;
}

article h1, section > div > h1 {
    font-size: 2em;
}

article a {
    color: #e5502b;
    text-decoration: underline dotted currentColor;
    text-decoration-skip: none;
}

.recentsSection {
    background: #060606;
    color: white;
}

.postList, .projectList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.postCard, .projectCard {
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% / 4);
    box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.6);
    max-width: 300px;
    transition: transform .25s, box-shadow .25s;
}

.postCard:hover, .projectCard:hover {
    transform: scale(1.05);
    box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.8);
}

@media(max-width: 800px) {
    .postCard, .projectCard {
        width: calc((100% / 2) - 30px);
    }
    .recentsSection .postCard:nth-child(3), .newestSection .projectCard:nth-child(3) {
        display: none;
    }
}

@media(max-width: 500px) {
    .postCard, .newestSection, .projectCard {
        width: 100%;
    }
    .recentsSection .postCard:nth-child(2), .newestSection .projectCard:nth-child(2) {
        display: none;
    }
}

.projectCardActivityIndicator {
    position: absolute;
    margin: 12px;
    padding: 2px 5px;
    border-radius: 3px;
}

.activityIndicatorGreen {
    background: #26de81;
}

.activityIndicatorYellow {
    background: #f7b731;
}

.activityIndicatorRed {
    background: #fc5c65;
}

.activityIndicatorBlue {
    background: #45aaf2;
}

.postCardImage, .projectCardImage {
    display: block;
    height: 150px;
    background-position: center;
    background-size: cover;
}

.postCardMeta, .projectCardMeta {
    padding: 10px;
    flex-grow: 1;
}

.postCardTitle, .projectCardTitle {
    display: block;
    font-size: 1.2em;
}

.postCardCTA, .projectCardCTA {
    display: block;
}

.postCardCTA a, .projectCardCTA a {
    display: block;
    padding: 10px;
    text-align: center;
    background: #e5502b;
    color: white;
    text-decoration: none;
}


.contactSection {
    background-size: cover;
    background: #000710 url("../images/natalya-letunova-469748-unsplash.jpg") center;
    color: white;
}

form input[type=text], form input[type=password], form input[type=email], form textarea {
    display: block;
    background: transparent;
    border:thin solid black;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: black;
    margin: 20px 0;
}

form label {
    display: block;
    margin-top: 5px;
}

form button {
    width:100%;
    border: thin solid #e5502b;
    font: inherit;
    color: black;
    background: transparent;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: background .25s;
}

form button:hover {
    background: #e5502b;
    color: white;
}

.contactSection input[type=text], .contactSection input[type=email], .contactSection textarea, .contactSection button {
    color: white;
    border-color: white;
    background: rgba(0, 0, 0, .25);
}

.contactSection input, .contactSection textarea {
    border:thin solid white;
    margin: 0;
}


footer {
    background: #000710;
    width: 100%;
    color: white;
    padding: 5px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: underline dotted currentColor;
}


.adminFooter {
    opacity: .25;
}

#content {
    /*min-height: calc(100vh - 26px);*/
    flex-grow: 1;
}

@-moz-document url-prefix() {
    #content {
        /*min-height: calc(100vh - 29px);*/
    }
}

@media (max-width: 590px) {
    .profileImage,.profileImageDummy {
        display: none;
    }

    .profileCard {
        padding: 20px 20px 20px 20px;
        transform: translate(20px, 20px);
    }


}

.languageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -ms-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
}

.languageModal:target {
    opacity: 1;
    pointer-events: auto;
}

.languageModalInner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: black;
    font-family: 'Anonymous Pro', monospace;
    padding: 20px;
    border-radius: 5px;
}
.languageModalInner a {
    color: white;
    text-decoration-style: dotted;
}

.modalCloseLink {
    text-decoration: none;
}

.cc-revoke {
    display: none !important;
}

.pageButtons {
    display: flex;
    flex-direction: row;
}
.pageButtons a {
    text-decoration: none;
}

.postContent .headerBackground, .projectHeader .headerBackground {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
}

.postContent header, .projectHeader header {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, .5);
}

.postContent .headerInner, .projectHeader .headerInner {
    max-width: var(--body-width);
    width: 100%;
    margin: 0 auto;
    padding: 65px 20px 0;
}

.postContent .headerInner *, .projectHeader .headerInner * {
    margin: 0;
    color: white;
}

.postContent .headerPlaceholder {
    width: 100%;
    height: 225px;
}

.projectHeader .headerPlaceholder {
    width: 100%;
    height: 200px;
}

.projectHeader h1 {
    font-size: 2em;
}

.projectHeader > div {
    padding-bottom: 0 !important;
}

.has-dropdown > a {
    pointer-events: none;
}

.has-dropdown:hover > a {
     pointer-events: auto;
 }

.has-dropdown:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.dropdown {
    position: absolute;
    background: #000710;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transition: opacity .25s;
    text-align: center;
    transform: translate(calc(-100% + 65px), 0);
}

#title {
    min-width: 30px;
    display: block;
    height: 40px;
}

.amazonAlexaSection, .donationSection, .hireMeSection {
    min-height: 90px;
    background: #2b313f;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
}

.amazonAlexaSection img {
    height: 50px;
}

.amazonAlexaSection > div, .donationSection > div, .hireMeSection > div {
    display: flex;
    height: 100%;
    padding: 20px !important;
    line-height: 50px;
    font-size: 1.7em;
    color: white;
}

.amazonAlexaSection > div > span, .donationSection > div > span, .hireMeSection > div > span {
    margin-left: auto;
    margin-right: auto;
}

.amazonAlexaSection > div > i, .donationSection > div > i, .hireMeSection > div > i {
    line-height: 50px !important;
}

.projectAbout {
    background: #060606;
    color: white;
}

.projectLinks .linkList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projectLinks a {
    display: inline-block;
    border: thin solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    color: black;
    text-decoration-skip: none;
    text-decoration: underline dotted currentColor;
}

.projectLinks a i.fab, .projectLinks a i.fas, .projectLinks a i.fa, .projectLinks a i.far, .projectLinks a i.fal {
    display: inline;
}

.projectDownloads table {
    width: 100%;
    text-align: left;
}

.projectDownloads th, .projectDownloads td {
    padding: 5px;
}

.projectDownloads th:nth-child(2) {
    text-align: center;
}

.projectDownloads td:nth-child(2) {
    width:0.1%;
    white-space: nowrap;
}

.projectDownloads tr:nth-child(2n + 1) {
    background: rgba(0, 0, 0, .1);
}

.downloadDropdown {
    background: #000710;
    border-radius: 5px;
}

.downloadDropdown > a {
    display: inline-block;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

.downloadDropdown .dropdown {
    color: white;
}

.downloadFeaturedButtons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.downloadDropdown.featured {
    margin: 5px;
}

.downloadDropdown.featured > a {
    padding: 15px 25px;
}

.downloadDropdown.featured > .dropdown {
    transform: none;
}

.downloadDropdown .dropdown a {
    color: white;
    text-decoration: none;
    padding: 10px
}

.downloadDropdown a:active ~ .dropdown, .downloadDropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.projectCardCTAContainer {
    display: flex;
}

.projectCardCTA:nth-child(2) {
    border-left: thin solid rgba(255, 255, 255, .5);
}

@media(max-width: 900px) {
    .projectCardCTAContainer {
        flex-direction: column;
    }

    .projectCardCTA:nth-child(2) {
        border-left: none;
    }


}

.projectCardCTAContainer > * {
    flex-grow: 1;
}

body.login #content {
    background: #000710;
    color: white;
}

body.login form input[type="text"], body.login form input[type="password"], body.login form input[type="email"], body.login form textarea {
    color: white;
    border: thin solid white;
}

body.login form button {
    color: white;
}

body.login .topBarInner *:not(#navBtnHome) {
    display: none;
}

.topBar a.offscreenNavigationSwitch {
    display: none;
}

.useOffscreenNavigation .topBarInner > *:not(#navBtnHome):not(.flexSpacer) {
    display: none;
}

.useOffscreenNavigation .topBar a.offscreenNavigationSwitch {
    display: block !important;
}

.offscreenNavigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #000710;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: top .25s;
}

.showOffscreenNavigation.useOffscreenNavigation .offscreenNavigation {
    top: 0;
}

.offscreenNavigation a {
    padding: 10px 15px;
    color: white;
    text-decoration: underline dotted white;
    font-size: 1.2em;
}

.offscreenNavigationSpacer {
    padding: 10px 15px;
}

.galleryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galleryCard {
    text-decoration: none;
    border-radius: 4px;
    overflow: hidden;
    margin: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(4 * 80px);
    height: calc(3 * 80px);
    -webkit-box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.75);
    background-size: cover;
    background-position: center;
    background-color: black;
    transition: transform .25s, box-shadow .25s;
}

.galleryCard:hover {
    transform: scale(1.05);
    box-shadow: -1px 11px 33px -10px rgba(0,0,0,0.8);
}

.galleryCardSmall {
    width: calc(4 * 60px);
    height: calc(3 * 60px);
}

.galleryCardMeta {
    margin-top: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    color: white;
    padding: 30px 10px 10px;
}

.galleryCardTitle {
    display: block;
    font-size: 1.8em;
}

.photosModuleLoaded {
    background: #1c1c1c;
    color: white;
}

.photoList {
    display: flex;
    flex-wrap: wrap;
}

.photoList:not(.imagesReady) > * {
    transform: translate(-100000px, 0);
}

.photoList:not(.imagesReady)::before {
    position: absolute;
    content: 'Prepearing Images for you... (Requires JavaScript)';
    display: block;
    font-size: 1.5em;
    text-align: center;
}

.photoList::after {
    content: '';
    flex-grow: 999999999;
}

.photoCard {
    margin: 2px;
    background-color: #101010;
    cursor: pointer;
    position: relative;
}

.photoCard .placeholder {
    display: block;
}

.photoCard img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
}

.photoCard:not(.processed) img {
    width: auto;
    height: auto;
}

.photosDetailSection {
    height: calc(100vh - 29px);
    background: black;
}

.PZContainer {
    overflow: hidden;
    height: 100%;
    text-align: center;
}

.PZBox {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
}

.button {
    display: flex;
    background: #e5502b;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 5px;
}
.button :first-child {
    flex-grow: 1;
}

.button:not([href]), .button[href=""] {
    cursor: not-allowed;
    background: #222222;
    opacity: .5;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.priceAmount {
    display: flex;
    width: 150px;
    margin: 20px auto;
    border: thin solid rgba(0,0,0,.25);
    border-radius: 5px;
    overflow: hidden;
    line-height: 40px;
}

.priceAmount input {
    flex-grow: 1;
    border: none;
    padding-left: 10px;
    width: 1px;
    border-right: thin solid rgba(0,0,0,.25);
}

.priceAmount div {
    width: 20px;
    text-align: center;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}