<div class="postCard">
    <div class="postCardImage lazy" data-bg="url({{ postImage }})"></div>{#TODO: Add Low-Res version to always load#}
    <div class="postCardMeta">
        <span class="postCardTitle">{{ postTitle }}</span>
        <span class="postCardTeaser">{{ teaserText }}</span>
    </div>
    <div class="postCardCTA"><a href="{{ link }}" class="spf-link">{% trans from "blog" %}read more{% endtrans %}</a></div>
</div>