<div class="postCard">
    <div class="postCardImage" style="background-image: url('{{ asset('assets/images/mario-caruso-770233-unsplash.jpg') }}');"></div>
    <div class="postCardMeta">
        <span class="postCardTitle">{{ postTitle }}</span>
        <span class="postCardTeaser">{{ teaserText }}</span>
    </div>
    <div class="postCardCTA"><a href="{{ link }}">Mehr lesen</a></div>
</div>