{% extends 'base.html.twig' %}

{% block title %}{% trans from "modules" %}photos{% endtrans %}{% endblock %}

{% block bodyClasses %}{{ parent() }} photosModuleLoaded{% endblock %}

{% block content %}
    <section class="photosSection">
        <article>
            <h1>{% trans from "modules" %}photos{% endtrans %}</h1>

            <div class="galleryList">
                <a href="https://unsplash.com/@unkn0wncat" target="_blank" rel="noopener" class="galleryCard lazy spf-link" data-bg="url(https://source.unsplash.com/user/unkn0wncat/320x240)">
                    <div class="galleryCardMeta">
                        <span class="galleryCardTitle">Unsplash</span>
                        <span class="galleryCardStats">{% trans from "photos" %}unsplashTeaser{% endtrans %}</span>
                    </div>
                </a>
                {% for gallery in galleries %}
                    {% include "photos/components/galleryCard.html.twig" with { gallery: gallery }  %}
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}
